body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, rgb(19, 56, 128), rgb(119, 183, 42));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 10px;
  background-color: #ffffffe6;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 300px;
  margin: 10px 0;
  padding: 15px;
  border: none;
  border-radius: 25px;
  background-color: #f0f0f0;
  border: solid black 1px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #0c007a;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s linear;

}

button:hover {
  background-color: #11912c;
}

p {
  margin-top: 20px;
  font-size: 18px;
}

.Logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.Logos img {
  width: 150px;
  height: auto;
}

.resultado {
  color: #000000;
  font-size: 24px;
  padding-top: 10px;
  transition: 0.3 linear;
}