.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #00cf34;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #0c007a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #11912c;
}

p {
  margin-top: 20px;
  font-size: 18px;
}

.Logos {
  display: flex;
  justify-content: space-around;
}

.Logos img {
  width: 200px;
  height: auto;
}
